*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#050505;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

color:white;

}

#particles{

position:fixed;

width:100%;

height:100%;

background:
radial-gradient(circle,#d4af37 1px,transparent 1px);

background-size:70px 70px;

opacity:.08;

animation:move 40s linear infinite;

}

@keyframes move{

from{

transform:translateY(0);

}

to{

transform:translateY(-300px);

}

}

.card{

width:360px;

padding:35px;

background:#111;

border-radius:20px;

box-shadow:0 0 35px rgba(212,175,55,.35);

text-align:center;

backdrop-filter:blur(15px);

}

.logo{

width:120px;

height:120px;

border-radius:50%;

margin-bottom:20px;

border:3px solid gold;

}

h1{

font-size:34px;

margin-bottom:10px;

color:#f2c94c;

}

p{

margin-bottom:30px;

opacity:.8;

}

a{

display:block;

margin:15px 0;

padding:16px;

border-radius:12px;

text-decoration:none;

background:#222;

color:white;

font-weight:600;

transition:.3s;

}

a:hover{

transform:scale(1.05);

}

.gold{

background:linear-gradient(45deg,#d4af37,#ffd700);

color:black;

font-size:18px;

}
